version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: hack4change-site
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    environment:
      - NODE_ENV=production
