/* Your global CSS here */

/* Chakra Petch Font Family */
@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chakra Petch';
  src: url('/Fonts/Chakra_Petch/ChakraPetch-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Microgramma D Extended Bold Font Family */
@font-face {
  font-family: 'Microgramma D Extended';
  src: url('/Fonts/microgramma-d-extended-bold_IGl0B/Microgramma D Extended Bold/Microgramma D Extended Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
